@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Roboto";
}

/* Apply custom scrollbar styling to all elements */
* {
    /* For Firefox */
    scrollbar-width: thin;  /* Makes the scrollbar thinner */
    scrollbar-color: darkgray lightgray; /* Adjust colors if needed */
}

/* For WebKit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
    width: 2px;
    height: 2px; /* For horizontal scrollbars */
}

*::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 1px; /* Optional for rounded edges */
}

*::-webkit-scrollbar-track {
    background-color: lightgray;
}
